@{
    ViewBag.Title = "WorkshopSweden - PLN";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3 class="home-text-title">Projektledarnätverk</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h4>Nätverk skapar synergier av kunskapsspridning. Det ger kortare kommunikationsvägar och en levande feedback.</h4>

            Genom projektledarnätverket erbjuder vi regelbundna träffar i workshopformat för er organisations projektledare. Era projektledare bjuds in till samtal och övningar kopplade till aktuella teman; så som kvalitetssäkring, riskhantering och överlämning.
            <br /><br />
            Projektledarnätverk ger näring åt den lärande organisationen och skapar strukturer för erfarenhetsåtervinning. Det ger också stöd åt en ensam yrkesroll och kompetensutvecklar organisationens projektledare.
            <br /><br />
            Att implementera ett projektledarnätverk är ett strategiskt beslut vilket kommer att öka organisationens projektmognad samtidigt som det kräver relativt lite av organisationens ledning.
            <br /><br />
            Vi planerar och leder nätverksträffarna efter ämnen som är aktuella i er organisation. Programmet består av en nätverksträff i månaden som hålls på er arbetsplats, nära era projektledare.
            <br /><br />
            Kontakta oss på <a href="mailTo:info@workshopsweden.se">info@workshopsweden.se</a> om du vill veta mer om projektledarnätverket.
        </div>
    </div>
</div>