@{
    ViewBag.Title = "WorkshopSweden - Projektresor";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3 class="home-text-title">Projektresor</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h4>Nya miljöer ger nya perspektiv. Workshop Sweden erbjuder projektresor i inspirerande och avkopplande miljöer. Kickstarta ert projekt eller ge ledningsgruppen en nystart i Barcelona.</h4>
            Projektresor är ett unikt samarbete mellan Workshop Sweden och ReseExperten.
            ReseExperten har sedan starten 1979 arrangerat gruppresor över hela världen.
            Tillsammans levererar vi genomtänkta program med handplockade hotell, utflykter
            och sevärdheter. Projektresor är ett koncept som riktar sig till ledningsgrupper,
            styrelser, styrgrupper och andra arbetsgrupper i behov av att utveckla sitt
            gemensamma arbete.
            <br /><br />
            På plats i Barcelona arbetar ni i workshopformat under ledning av våra erfarna
            konsulter. Arbetsdagar kombineras med sightseeing av staden, trevliga middagar,
            roliga aktiviteter och teambuilding. Målsättningen med resan är att ni ska återvända
            hem med ett starkare team, nya verktyg och ett konkret resultat. Projektresor ger tid
            för arbete med kommunikation och planering – framgångsfaktorer för
            lösningsorienterade och sammansvetsade team.
            <br /><br />
            Kontakta oss på <a href="mailTo:info@workshopsweden.se">info@workshopsweden.se</a> om du vill veta mer om projektledarnätverket.
        </div>
    </div>
</div>