@{
    ViewBag.Title = "WorkshopSweden - Workshop";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div>
                <h3 class="home-text-title">Workshop</h3>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="div-standard pull-right">
                <h4>Att arbeta i workshopformat betyder konkreta resultat. Workshopledaren leder grupper, genom reflektion och samtal, från abstrakta idéer till ett handfast resultat.</h4>
                <p>
                    Under våra workshops arbetar vi med teman så som riskanalys, intressentanalys, målformulering och utvärdering. Under workshopen reder vi ut begrepp och tar er igenom processen från idé eller problemformulering till ett konkret resultat. Baserat på gruppens storlek och behov anpassar vi upplägget så att ni får ut så mycket så möjligt av dagen.
                    <br /><br />
                    Våra workshops används ofta under uppstarten av ett utvecklingsarbete. Det är ett effektivt sätt att samla gruppen för att skapa samsyn och påbörja arbetet. I projekt är workshops en framgångsrik metod, ofta använd av projektgruppen och styrgruppen, under förstudie- och planeringsfasen. Nyvalda styrelser och ledningsgrupper använder våra workshopformat för att utvärdera året som gått och planera kommande verksamhetsår.
                    <br /><br />
                    Har ni fastnat i ert utvecklingsarbete, eller vet ni inte var ni ska börja - då kan en workshop användas för att skapa samsyn kring er utmaning och för att finna nya vägar vidare.
                    <br /><br />
                    Kontakta oss på <a href="mailTo:info@workshopsweden.se">info@workshopsweden.se</a> om du vill veta mer om våra workshops.
                </p>
            </div>
        </div>
    </div>
</div>