<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h4 class="home-text-title">Om Ida</h4>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="div-standard pull-right">
                Ida tillför ett unikt perspektiv och hon har en sällsam förmåga att ställa kritiska frågor som leder gruppen rakt till kärnan.
                <br /><br />
                Ida är struktur och integritet. I hennes arbete med att pedagogiskt lotsa grupper i förändringsprocesser, betyder detta ett stadigt fokus på kärnan i arbetet vilket gör henne till en omtyckt moderator och workshopledare.
                <br /><br />
                Hållbarhet är ett nyckelord i Idas arbete och hon strävar alltid efter att skapa strukturer som är hållbara för organisationen och som samtidigt producerar resultat som är hållbara ekologiskt, socialt och ekonomiskt.
                <br /><br />
                På strategisk nivå har Ida utvecklat och implementerat projektkontor och projektmodeller i flera organisationer. Hennes erfarenhet från olika roller - projektledare, beställare och chef - är användbara för att analysera en situation utifrån flera perspektiv. Till Idas kompetens hör även vetenskaplig utvärdering av organisationer och projekt som verkar inom bistånd, utvecklingsländer och internationell utveckling.
                <br /><br />
                Ida är certifierad enligt IPMA (International Project Management Association) och har en examen i Projektledning, efter en tvåårig yrkesutbildning. I juni 2016 tar hon sin kandidatexamen i utvecklingsstudier med inriktning på hållbar utveckling, vilket hon har arbetat med både i Sverige och utomlands.
                <br /><br />
                Kontakta Ida på <a href="mailTo:ida@workshopsweden.se">ida@workshopsweden.se</a>
            </div>
        </div>
        <div>
            <div class="col-xs-12 col-sm-12 col-md-6 div-centerAlign">
                <img class="img-thumbnail img-halfSizeProfilePic" src="~/Content/img/profile/idaHalv.jpg" />
            </div>
        </div>
    </div>
</div>