<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div>
                <h4 class="home-text-title">Om Hillevi</h4>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="div-standard pull-right">
                Hillevi jobbar gärna nära individer och grupper. Hon blandar en öppet coachande attityd med en mer utbildande och ledande inställning i sina möten.
                <br /><br />
                Hillevi är kreativitet och kommunikation. Hon är uppskattad för sin förmåga att möta individer efter deras behov.
                <br /><br />
                Hon letar alltid efter guldet hos sina kunder och deras idéer. Med guld menar hon en resurs- eller egenskapsmässig tillgång som blir nyckeln till framgång i arbetet.
                <br /><br />
                I sin roll som projektcoach har Hillevi coachat ledningsgrupper, beställare och projektledare. Hon har startat upp och drivit projektledarnätverk och även hållit i projektledarutbildningar av olika storlek. Hon har jobbat som facilitator och processledare för personalgrupper utifrån varierande problemställningar. Som renodlad coach har Hillevi även arbetat med helt öppen coaching där klienten själv väljer ämne och problemställning.
                <br /><br />
                Hillevi har en examen i Projektledning, efter en tvåårig yrkesutbildning, och är certifierad enligt IPMA (International Project Management Association). Hon är diplomerad coach enligt ICF (International Coach Federation) och certifierad i OPERA-metoden. Hon har även en kandidatexamen inom humaniora med huvudämnena litteraturvetenskap och spanska.
                <br /><br />
                Kontakta Hillevi på <a href="mailTo:hillevi@workshopsweden.se">hillevi@workshopsweden.se</a>
            </div>
        </div>
        <div>
            <div class="col-xs-12 col-sm-12 col-md-6 div-centerAlign">
                <img class="img-thumbnail img-halfSizeProfilePic" src="~/Content/img/profile/hilleHalv.jpg" />
            </div>
        </div>
    </div>
</div>