@{
    ViewBag.Title = "WorkshopSweden - Om Oss";
}
<div class="container">
    <div class="col-md-6">
        <h3 class="home-text-title">Om oss</h3>
        <h4>För oss är en workshop mycket mer än ett rum med människor och ett blädderblock. Vår filosofi är enkel, vi skapar kreativa utrymmen som förvandlar dina idéer till konkreta resultat.</h4>
        <p>
            På Workshop Sweden får ni hjälp med ert utvecklingsarbete. Oavsett om ni står inför en projektstart, mitt i verksamhetsutveckling eller om ni har kört fast, kan vi ge er redskap för att lyckas. Workshop Sweden erbjuder effektiva metoder för både strategisk verksamhetsutveckling och det enskilda projektet.
            <br /><br />
            Våra konsulter är certifierade projektledare och har erfarenhet av att utbilda och coacha chefer och projektledare, leda grupper i förändringsprocesser samt planera, genomföra och utvärdera projekt av olika komplexitet. På Workshop Sweden har vi mer än 20 års erfarenhet av förändringsarbete och utvecklingsprocesser.
            <br /><br />
            Vår teoretiska grund är branschöverskridande och så är också vår erfarenhet. Eftersom våra kunskaper inte är bundna till ett särskilt verksamhetsområde kan vi framgångsrikt hjälpa organisationer inom vitt skilda områden, från byggsektorn till internationellt bistånd.
            <br /><br />
            Varje idé, människa och organisation har unika förutsättningar och bär på sina svar. Vi lägger stor vikt vid att förstå varje kunds enskilda utmaning och formar vårt stöd därefter. Hittar ni inte det ni söker bland våra tjänster - kontakta oss så skapar vi gemensamt något som möter just era behov.
            <br /><br />
            Kontakta oss på <a href="mailto:info@workshopsweden.se" target="_top">info@workshopsweden.se</a>
        </p>
    </div>
    <div class="col-md-6" style="margin-top: 20px">
        <div class="col-xs-6 col-sm-6 col-md-6 div-centerAlign">
            <div>
                <a href="@Url.Action("AboutIda", "About")">
                    <img class="img-thumbnail img-profilepic" src="~/Content/img/profile/idaProfil.jpg"/>
                </a>
            </div>
            <div>
                <a class="h4Link" href="@Url.Action("AboutIda", "About")">
                    <h4 class="h4Link">Ida Ketonen</h4>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 div-centerAlign">
            <div>
                <a href="@Url.Action("AboutHille", "About")">
                    <img class="img-thumbnail img-profilepic" src="~/Content/img/profile/hilleProfil.jpg" />
                </a>
            </div>
            <div>
                <a class="h4Link" href="@Url.Action("AboutHille", "About")">
                    <h4 class="h4Link">Hillevi Thuring</h4>
                </a>
            </div>
        </div>
    </div>
</div>