@{
    ViewBag.Title = "WorkshopSweden - Projektutbildning";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div>
                <h3 class="home-text-title">Projektutbildning</h3>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="div-standard pull-right">
                <h4>Våra utbildningspaket följer projektets faser och passar hela projektorganisationen. Utbildningarna kombinerar lika delar projektmetodik, ledarskap och praktiskt arbete med era projekt. Utöver våra utbildningspaket erbjuder vi även kundanpassade projektutbildningar.</h4>

                Utbildningen utgår från era aktuella projekt och är tillämpbar oavsett komplexitet och branch. I fyra steg fördjupar vi oss i:
                <br /><br />
                <strong>I. Från idé till beställning</strong>
                <br />
                Vi lär oss bl.a. vad en effektiv förstudie är, vilka faktorer som skapar goda grundförutsättningar för ett lyckat projekt och hur vi kan använda projektbeställningen som dialogverktyg för att skapa samsyn.
                <br /><br />
                <strong>II. Projektstart</strong> 
                <br />
                Under projektets första tid fattas många, för projektet, avgörande beslut. Vi lär oss att skapa en levande projektplan samt reder ut projektorganisationens olika roller och ansvar.
                <br /><br />

                <strong>III. Under projektets gång</strong>
                <br />
                När projektet är igång ansvarar projektledaren för flera processer. Vi lär oss hur vi aktivt kan arbeta med att kvalitetssäkra, riskhantera, delegera, organisera, dokumentera, kommunicera, förankra och följa upp.
                <br /><br />

                <strong>IV. Överlämning</strong>
                <br />
                Projektets resultat ska överlämnas till linjen och projektorganisation upplösas. Vi lär oss vad detta innebär, hur vi utvärderar projektets resultat och  hur vi följer upp effekterna av projektet.
                <br /><br />
                Kontakta oss på <a href="info@workshopsweden.se">info@workshopsweden.se</a> om du vill veta mer om våra projektutbildningar.

            </div>
        </div>
    </div>
</div>