@{
    ViewBag.Title = "WorkshopSweden - Coaching";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3 class="home-text-title">Coaching</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="div-standard">
                <h4>Individuell och gruppbaserad coaching är ett effektivt stöd i organisationens utvecklingsarbete.</h4>
        
                <strong>Projektcoach</strong>
                <br />
                Rollen som projektledare kan vara ensam, ofta hamnar man i kläm mellan beställare, linjechefer och andra intressenter. En neutral och stöttande coach är ett värdefullt bollplank på vägen. Vår coach kan följa ert projekt från start till mål. Under resans gång är en coach en tillgång för att utveckla och stärka personliga egenskaper som behövs i respektive projektroll samtidigt som hon kan stötta i metodfrågor.
                <br /><br />
                <strong>Coaching som utveckling</strong><br />
                Coaching av grupper så som personalteam, projektteam, styrelser och ledningsgrupper är ett effektivt sätt för dessa att hitta sin gemensamma potential. Gruppbaserad coaching säkerställer att de gemensamma målen och gruppens syfte stöds och förstås på samma sätt av alla. Det coachande samtalet öppnar möjligheter för den enskilde individen att hitta och realisera sina individuella mål.
                <br /><br />
                Kontakta oss på <a href="mailTo:info@workshopsweden.se">info@workshopsweden.se</a> om du vill veta mer om vår coaching.

            </div>
        </div>
    </div>
</div>